# dependencies
**/node_modules

# next.js
**/.next

**/generated

# compiled output
**/dist
**/build

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# tests
coverage
.nyc_output

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# temp
.temp
.tmp

# runtime
pids
*.pid
*.seed
*.pid.lock

# reports
report.*.*.*.*.json

# prisma
generated/prisma
/server/generated/
/server/uploads/
